<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>
    Here is a Main Lobby For this Game.
</h1>
<h2>Check the existing games here</h2>

<table>
  <tr>
    <th>房间号</th>
    <th>创建者  </th>


    </tr><tr>
    <th> {{ id0 }} </th>
    <th> {{ alias0 }}</th>

    </tr><tr>
    <th> {{ id1 }} </th>
    <th> {{ alias1 }}</th>

    </tr><tr>
    <th> {{ id2 }} </th>
    <th> {{ alias2 }}</th>

    </tr><tr>
    <th> {{ id3 }} </th>
    <th> {{ alias3 }}</th>

    </tr><tr>
    <th> {{ id4 }} </th>
    <th> {{ alias4 }}</th>

    </tr><tr>
    <th> {{ id5 }} </th>
    <th> {{ alias5 }}</th>

    </tr><tr>
    <th> {{ id6 }} </th>
    <th> {{ alias6 }}</th>

    </tr><tr>
    <th> {{ id7 }} </th>
    <th> {{ alias7 }}</th>

    </tr><tr>
    <th> {{ id8 }} </th>
    <th> {{ alias8 }}</th>

  </tr>


</table>
<br>



<form action="/">
    <input type="submit" value="Refresh">
</form>
<br>


<form action="{% url 'create' %}">
    <h2><b>创建游戏</b></h2>
    输入您的Alias:
    <input type="text" name="alias">
    MasterKey (删除房间用）
    <input type="text" name="key">
    Password (Optional）
    <input type="text" name="pwd">
    <br><br>
    <input type="submit" value="创建">
</form>
<br><br>


<form action="{% url 'signin' %}">

    <h2><b>进入游戏</b></h2>
    输入房间号: <br>
    <input type="text" name="roomid"><br><br>

    输入您的Alias:<br>
    <input type="text" name="alias">
    <br><br>
    <input type="submit" value="进入房间"><br>


</form>


</body>
</html>